@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Api.Models.ViewModels.UsersListViewModel

@{ var result = User.IsInRole("SuperAdmin");}
@if (result)
{
    <div class="d-flex justify-content-center">
    <div style="width: 95%">
        <h1 class="text-center">Иҷрокунандаҳо</h1>
        <div class="d-flex justify-content-between mt-4 mb-3">
            <div class="w-50">
                <form asp-controller="User" asp-action="UsersList" method="get">
                    <div class="d-flex ">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Ҷустуҷӯ" value="@Model.SearchString"/>
                        </div>
                        <div class="ms-2">
                            <button type="submit" class="btn btn-primary">Ҷустуҷӯ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        @if(Model.Users.Any()){
    <table class="table">
        <thead>
        <tr>
            <th>Имя Фамилия</th>
            <th>Телефон</th>
            <th>Тағирдиҳии рамз</th>
            <th>Тағирдиҳии иҷрокунанда</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a class="btn btn-info" href="~/User/ChangePassword?id=@user.Id">Тағирдиҳии иҷрокунанда</a>
                </td>
                <td>
                    <a class="btn btn-outline-success" href="~/User/Edit?id=@user.Id">Тағирдиҳии иҷрокунанда</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav aria-label="Books navigation">
        <ul class="pagination">
            @if (Model.PagingInfo.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("UsersList", new { pageNumber = Model.PagingInfo.CurrentPage - 1, searchString = Model.SearchString })">Ба ақиб</a>
                </li>
            }

            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("UsersList", new { pageNumber = i, searchString = Model.SearchString })">@i</a>
                </li>
            }

            @if (Model.PagingInfo.CurrentPage < Model.PagingInfo.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("UsersList", new { pageNumber = Model.PagingInfo.CurrentPage + 1, searchString = Model.SearchString })">Ба пеш</a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <p>No documrnts found.</p>
}
    </div>
</div>
}