<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Api</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Api.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item  " style=" ">
                        <a class="nav-link text-dark" style="font-size: 15px;" asp-area="" asp-controller="Home" asp-action="Index" >Асосӣ</a>
                    </li>
                  
                </ul>
                <ul class="nav col-auto col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("User"))
                        {
                            <li><h4 style="margin-top: .5rem !important; margin-right: 10px;">Привет <span style="color: rgb(94,187,241);">@User.Identity.Name</span>!</h4></li>
                        }
                        <li class="nav-item" style="margin-top: .4rem !important;">
                            <a class="btn btn-warning" asp-action="Logout" asp-controller="User">Выйти</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item" style="margin-left:740px">
                            <a class="btn btn-warning" asp-action="Login" asp-controller="User">Войти</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="" style="background-color:white">
        @if (User.IsInRole("Admin"))
        {
            <div class=" d-flex ">
                <div style="width: 20%; background-color: #C1E3F5; height: 440px; border-radius: 8px; border: 1px solid rgb(94,187,241);">
                    <ul >
                        <li  style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../Order/Index" style="text-decoration: none; color: black;">Index</a></li>
                        <li style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../Order/GetInprogressorders"  style="text-decoration: none; color: black;">GetInProgress</a></li>
                        <li style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../Order/GetDoneOrders"  style="text-decoration: none; color: black;">GetDone</a></li>
                        <li style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../Order/GetNotDoneOrders"  style="text-decoration: none; color: black;">GetNotDone</a></li>
                        <li style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../User/UsersList"  style="text-decoration: none; color: black;">Users</a></li>
                        <li style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../User/Register"  style="text-decoration: none; color: black;">Register</a></li>
                        <li style="list-style-type: none; margin-top: 10px;"><a class="my-element" href="../Order/Create"  style="text-decoration: none; color: black;">Create</a></li>
                    </ul>
                </div>
                <div style="width:80%; border-radius: 8px; border: 1px solid rgb(94,187,241);">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
               
                }
                else
                {

                    if (User.IsInRole("User"))
                    {
                        <div class=" d-flex ">
                           <div style="width: 20%; background-color: #C1E3F5; height: 440px; border-radius: 8px; border: 1px solid rgb(94,187,241);">
                               <ul>
                                    <li  style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../Order/GetMyInprogressorders" style="text-decoration: none; color: black;">GetMyInprogressorders</a></li>
                                                           <li style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../Order/GetMyDoneOrders"  style="text-decoration: none; color: black;">GetMyDoneOrders</a></li>
                                                           <li style="list-style-type: none; margin-top: 10px;"><a class="my-element"  href="../Order/GetMyNotDoneOrders"  style="text-decoration: none; color: black;">GetMyNotDoneOrders</a></li>
                                   
                               </ul>
                            </div>
                            <div style="width:80%; border-radius: 8px; border: 1px solid rgb(94,187,241);">
                                <main role="main" class="pb-3">
                                    @RenderBody()
                                </main>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                    }
                }
            </div>
             <style>
                            .my-element:hover{
                            color: #3C4043;
                            background-color: #F1E9FE;
                            border-radius: 5px;
                            padding: 4px 8px 4px 8px;
                            
                            }
                            </style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>